In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('emotion.csv')

In [9]:
companies = [
    'arko corp', 'j jill inc', 'abercrombie', 'academy sports and outdoors inc',
    'advance auto parts inc', 'koninklijke ahold delhaize', 'albertsons companies inc',
    'alimentation couche tard inc', 'amazon com inc', 'asbury automotive group inc',
    'autonation inc', 'autozone inc', 'bjs wholesale club holdings inc', 'bath body works inc',
    'best buy co inc', 'burlington stores inc', 'camping world holdings inc',
    'canada goose holdings inc', 'carvana co', 'the container store group inc',
    'costco wholesale corporation', 'dicks sporting goods inc', 'dollar general corporation',
    'dollar tree inc', 'wisdomTree international largeCap dividend fund', 'floor decor holdings inc',
    'foot locker inc', 'franchise group inc', 'the gap inc', 'genuine parts company',
    'group 1 automotive inc', 'the home depot inc', 'ingles markets incorporated',
    'kohls corporation', 'the kroger co', 'leslies inc', 'qurate retail inc',
    'lithia motors inc', 'lowes companies inc', 'macys inc', 'capri holdings limited',
    'mister car wash inc', 'murphy usa inc', 'national vision holdings inc',
    'nordstrom inc', 'oreilly automotive inc', 'penske automotive group inc',
    'petco health and wellness company inc', 'ralph lauren corporation', 'rh',
    'ross stores inc', 'albertsons companies inc', 'sonic automotive inc',
    'the tjx companies inc', 'tapestry inc', 'target corporation', 'torrid holdings inc',
    'tractor supply company', 'valvoline inc', 'victorias secret co',
    'walgreens boots alliance inc', 'walmart inc'
]

In [10]:
def match_organizations(org_text):
    for company in companies:
        if re.search(company, org_text, re.IGNORECASE):
            return True
    return False

In [13]:
def find_matching_organizations(org_text):
    matches = []
    for company in companies:
        pattern = rf'\b{re.escape(company)}\b'
        if re.search(pattern, org_text, re.IGNORECASE):
            matches.append(company)
    return ', '.join(matches) if matches else None

In [11]:
df['CompanyMatch'] = df['Organizations'].apply(match_organizations)

In [14]:
df['MatchingCompanies'] = df['Organizations'].apply(find_matching_organizations)

In [16]:
df

,DATE,V2Tone,Organizations,CompanyMatch,MatchingCompanies
0,20171126023000,"0.754716981132076,2.64150943396226,1.886792452...",other television;us national;waugh erma or tar...,True,target corporation
1,20171126071500,"1.28676470588235,2.11397058823529,0.8272058823...",burlington stores;morgan stanley;securities ex...,True,burlington stores inc
2,20171126011500,"1.875,2.1875,0.3125,2.5,22.5,0.3125,288",dollar tree inc;performance food group;us food...,True,dollar tree inc
3,20171126120000,"3.322528363047,3.72771474878444,0.405186385737...",walgreens boots alliance inc walgreens boots a...,True,walgreens boots alliance inc
4,20171126043000,"-0.132275132275132,0.529100529100529,0.6613756...",cowen inc;morgan stanley;ross stores;jefferies...,True,ross stores inc
...,...,...,...,...,...
309554,20230602204500,"0.260078023407022,2.08062418725618,1.820546163...",walmart;walmart inc,True,walmart inc
309555,20231212151500,"1.40056022408964,3.36134453781513,1.9607843137...",walmart;walmart inc,True,walmart inc
309556,20231212163000,"3.17460317460317,4.76190476190476,1.5873015873...",walmart;walmart inc,True,walmart inc
309557,20230601013000,"0,3.27868852459016,3.27868852459016,6.55737704...",walmart;walmart inc,True,walmart inc
309558,20230601171500,"-1.96078431372549,4.57516339869281,6.535947712...",walmart;walmart inc,True,walmart inc

In [17]:
from collections import Counter
company_counts = Counter()
for match in df['MatchingCompanies'].dropna():
    for company in match.split(', '):
        company_counts[company] += 1

In [18]:
company_counts_df = pd.DataFrame(company_counts.items(), columns=['Company', 'Count'])

In [20]:
company_counts_df

                                  Company  Count
0                      target corporation  51696
1                   burlington stores inc   4506
2                         dollar tree inc  12007
3            walgreens boots alliance inc  28154
4                         ross stores inc   7559
5                            autozone inc   5854
6                          amazon com inc   3526
7                  tractor supply company  12921
8                         best buy co inc    526
9                         foot locker inc   9193
10                            abercrombie  12000
11           costco wholesale corporation  13363
12               ralph lauren corporation   4163
13                          valvoline inc   3092
14                          nordstrom inc  19608
15                            walmart inc  76034
16            penske automotive group inc   2148
17                  genuine parts company   4100
18                         autonation inc   5356
19              canada goose holdings inc   5597
20                 oreilly automotive inc   4842
21                           tapestry inc   5793
22                      qurate retail inc   2056
23               albertsons companies inc   5448
24                    franchise group inc   1313
25                                     rh   5625
26             camping world holdings inc    136
27           national vision holdings inc   1473
28                             carvana co   5211
29                    mister car wash inc    336
30               floor decor holdings inc   1412
31                   sonic automotive inc   1647
32                    lowes companies inc    279
33            asbury automotive group inc   1947
34                      kohls corporation    129
35                 capri holdings limited    570
36                             j jill inc   1134
37                 advance auto parts inc    566
38                      lithia motors inc   2453
39                              macys inc    626
40               dicks sporting goods inc    665
41           alimentation couche tard inc    508
42                    bath body works inc    929
43            ingles markets incorporated    695
44        bjs wholesale club holdings inc    175
45                            leslies inc      8
46                    torrid holdings inc   1060
47             koninklijke ahold delhaize     32
48                         murphy usa inc     56
49                              arko corp    232
50                            the gap inc     28
51        academy sports and outdoors inc      9
52                          the kroger co     62
53  petco health and wellness company inc      4
54                    victorias secret co     17

In [25]:
matching_companies = df[df['MatchingCompanies'] == 'rh']

In [26]:
matching_companies

,DATE,V2Tone,Organizations,CompanyMatch,MatchingCompanies
324,20210707130000,"4.98633879781421,6.0792349726776,1.09289617486...",algerian center;connectinnov consortium;vp mar...,True,rh
338,20210707183000,"-8.88888888888889,1.66666666666667,10.55555555...",sheikh borhan ahmed society;headquarters hospi...,True,rh
348,20210707224500,"-1.42348754448399,1.77935943060498,3.202846975...",cardiopulmonary rehabilitation centre in rh,True,rh
354,20210707211500,"-0.178890876565295,2.86225402504472,3.04114490...",days inn;programs at fresno housing authority;...,True,rh
372,20180427050000,"3.37972166998012,3.37972166998012,0,3.37972166...",american association of state colleges;rh perr...,True,rh
...,...,...,...,...,...
297169,20240226203000,"1.13744075829384,1.61137440758294,0.4739336492...",rh company profile;united states;core wealth a...,True,rh
297185,20230601180000,"2.19607843137255,3.05882352941176,0.8627450980...",valley vineyards;valley vineyards aocs;academy...,True,rh
297205,20231212083000,"1.83150183150183,2.1978021978022,0.36630036630...",united states;wells fargo company;morgan stanl...,True,rh
297208,20231212090000,"1.19047619047619,1.54761904761905,0.3571428571...",telsey advisory group;united states;wells farg...,True,rh
297263,20230601151500,"4.15094339622642,4.62264150943396,0.4716981132...",szanton co;gorham town council chairperson lee...,True,rh

In [27]:
matching_companies['DATE'] = pd.to_datetime(matching_companies['DATE'], format='%Y%m%d%H%M%S')

C:\Users\Michael_Mi\AppData\Local\Temp\ipykernel_24828\1518021234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_companies['DATE'] = pd.to_datetime(matching_companies['DATE'], format='%Y%m%d%H%M%S')

In [29]:
matching_companies_sorted = matching_companies.sort_values(by='DATE')
matching_companies_sorted

,DATE,V2Tone,Organizations,CompanyMatch,MatchingCompanies
100625,2015-02-19 23:45:00,"5.96205962059621,6.63956639566396,0.6775067750...",medicure inc;genesys venture inc;alumni of the...,True,rh
124151,2015-02-20 20:30:00,"-4.57809694793537,1.43626570915619,6.014362657...",dakota department of health;dakota health;gutt...,True,rh
130341,2015-02-24 14:15:00,"1.29449838187702,3.55987055016181,2.2653721682...",rh to criticism of the research;cristian gutle...,True,rh
130415,2015-02-24 14:15:00,"1.3595166163142,3.62537764350453,2.26586102719...",rh to criticism of the research;cristian gutle...,True,rh
128994,2015-02-24 14:15:00,"1.29449838187702,3.55987055016181,2.2653721682...",rh to criticism of the research;cristian gutle...,True,rh
...,...,...,...,...,...
141532,2024-03-30 16:15:00,"-4.53879941434846,1.31771595900439,5.856515373...",american academy of pediatrics;university of m...,True,rh
165575,2024-04-01 11:30:00,"13.2508833922261,13.2508833922261,0,13.2508833...",pullman hotel miri;instagram;sarawak tourism f...,True,rh
166468,2024-04-01 14:45:00,"1.07913669064748,1.43884892086331,0.3597122302...",creekmur asset management;morgan stanley;benja...,True,rh
164473,2024-04-01 18:45:00,"0.97323600973236,1.45985401459854,0.4866180048...",rh company profile;kayne anderson rudnick inve...,True,rh
164472,2024-04-01 18:45:00,"1.40692640692641,1.73160173160173,0.3246753246...",cetera advisors;rh company profile;venture vis...,True,rh

In [30]:
matching_companies['Year'] = matching_companies['DATE'].dt.year
matching_companies['Quarter'] = matching_companies['DATE'].dt.quarter

C:\Users\Michael_Mi\AppData\Local\Temp\ipykernel_24828\704041171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_companies['Year'] = matching_companies['DATE'].dt.year
C:\Users\Michael_Mi\AppData\Local\Temp\ipykernel_24828\704041171.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_companies['Quarter'] = matching_companies['DATE'].dt.quarter

In [31]:
matching_companies

,DATE,V2Tone,Organizations,CompanyMatch,MatchingCompanies,Year,Quarter
324,2021-07-07 13:00:00,"4.98633879781421,6.0792349726776,1.09289617486...",algerian center;connectinnov consortium;vp mar...,True,rh,2021,3
338,2021-07-07 18:30:00,"-8.88888888888889,1.66666666666667,10.55555555...",sheikh borhan ahmed society;headquarters hospi...,True,rh,2021,3
348,2021-07-07 22:45:00,"-1.42348754448399,1.77935943060498,3.202846975...",cardiopulmonary rehabilitation centre in rh,True,rh,2021,3
354,2021-07-07 21:15:00,"-0.178890876565295,2.86225402504472,3.04114490...",days inn;programs at fresno housing authority;...,True,rh,2021,3
372,2018-04-27 05:00:00,"3.37972166998012,3.37972166998012,0,3.37972166...",american association of state colleges;rh perr...,True,rh,2018,2
...,...,...,...,...,...,...,...
297169,2024-02-26 20:30:00,"1.13744075829384,1.61137440758294,0.4739336492...",rh company profile;united states;core wealth a...,True,rh,2024,1
297185,2023-06-01 18:00:00,"2.19607843137255,3.05882352941176,0.8627450980...",valley vineyards;valley vineyards aocs;academy...,True,rh,2023,2
297205,2023-12-12 08:30:00,"1.83150183150183,2.1978021978022,0.36630036630...",united states;wells fargo company;morgan stanl...,True,rh,2023,4
297208,2023-12-12 09:00:00,"1.19047619047619,1.54761904761905,0.3571428571...",telsey advisory group;united states;wells farg...,True,rh,2023,4
297263,2023-06-01 15:15:00,"4.15094339622642,4.62264150943396,0.4716981132...",szanton co;gorham town council chairperson lee...,True,rh,2023,2

In [32]:
grouped = matching_companies.groupby(['Year', 'Quarter']).size()
missing_quarters = [(year, quarter) for year in range(matching_companies['Year'].min(), matching_companies['Year'].max() + 1)
                    for quarter in range(1, 5) if (year, quarter) not in grouped.index]

In [33]:
print("Grouped data count by Year and Quarter:")
print(grouped)
print("\nMissing quarters (Year, Quarter):")
print(missing_quarters)

Grouped data count by Year and Quarter:
Year  Quarter
2015  1           85
      2          146
      3          164
      4          142
2016  1          216
      2          193
      3          218
      4          273
2017  1          392
      2          197
      3          259
      4          218
2018  1          170
      2          133
      3          172
      4          195
2019  1          135
      2          104
      3          130
      4           97
2020  1          100
      2           84
      3          106
      4           77
2021  1           99
      2          142
      3           81
      4          129
2022  1           82
      2           98
      3           69
      4          106
2023  1           78
      2          118
      3          346
      4          117
2024  1          115
      2            4
dtype: int64

Missing quarters (Year, Quarter):
[(2024, 3), (2024, 4)]