In [1]:
import pickle
import re
import pandas as pd

### Helper function

In [2]:
def find_matching_organizations(org_text):
    matches = []
    for company in companies:
        pattern = rf'\b{re.escape(company)}\b'
        if re.search(pattern, org_text, re.IGNORECASE):
            matches.append(company)
    return ', '.join(matches) if matches else None

### Main

In [3]:
df = pd.read_csv('test.csv')
df

,DATE,V2Tone,Organizations,Companies
0,20171126023000,"0.754716981132076,2.64150943396226,1.886792452...",other television;us national;waugh erma or tar...,target corporation
1,20171126071500,"1.28676470588235,2.11397058823529,0.8272058823...",burlington stores;morgan stanley;securities ex...,burlington stores inc
2,20171126011500,"1.875,2.1875,0.3125,2.5,22.5,0.3125,288",dollar tree inc;performance food group;us food...,dollar tree inc
3,20171126120000,"3.322528363047,3.72771474878444,0.405186385737...",walgreens boots alliance inc walgreens boots a...,walgreens boots alliance inc
4,20171126043000,"-0.132275132275132,0.529100529100529,0.6613756...",cowen inc;morgan stanley;ross stores;jefferies...,ross stores inc
...,...,...,...,...
309554,20230602204500,"0.260078023407022,2.08062418725618,1.820546163...",walmart;walmart inc,walmart inc
309555,20231212151500,"1.40056022408964,3.36134453781513,1.9607843137...",walmart;walmart inc,walmart inc
309556,20231212163000,"3.17460317460317,4.76190476190476,1.5873015873...",walmart;walmart inc,walmart inc
309557,20230601013000,"0,3.27868852459016,3.27868852459016,6.55737704...",walmart;walmart inc,walmart inc
309558,20230601171500,"-1.96078431372549,4.57516339869281,6.535947712...",walmart;walmart inc,walmart inc

In [6]:
companies = [
    'arko corp', 'j jill inc', 'abercrombie', 'academy sports and outdoors inc',
    'advance auto parts inc', 'koninklijke ahold delhaize', 'albertsons companies inc',
    'alimentation couche tard inc', 'amazon com inc', 'asbury automotive group inc',
    'autonation inc', 'autozone inc', 'bjs wholesale club holdings inc', 'bath body works inc',
    'best buy co inc', 'burlington stores inc', 'camping world holdings inc',
    'canada goose holdings inc', 'carvana co', 'the container store group inc',
    'costco wholesale corporation', 'dicks sporting goods inc', 'dollar general corporation',
    'dollar tree inc', 'wisdomTree international largeCap dividend fund', 'floor decor holdings inc',
    'foot locker inc', 'franchise group inc', 'the gap inc', 'genuine parts company',
    'group 1 automotive inc', 'the home depot inc', 'ingles markets incorporated',
    'kohls corporation', 'the kroger co', 'leslies inc', 'qurate retail inc',
    'lithia motors inc', 'lowes companies inc', 'macys inc', 'capri holdings limited',
    'mister car wash inc', 'murphy usa inc', 'national vision holdings inc',
    'nordstrom inc', 'oreilly automotive inc', 'penske automotive group inc',
    'petco health and wellness company inc', 'ralph lauren corporation', 'rh',
    'ross stores inc', 'albertsons companies inc', 'sonic automotive inc',
    'the tjx companies inc', 'tapestry inc', 'target corporation', 'torrid holdings inc',
    'tractor supply company', 'valvoline inc', 'victorias secret co',
    'walgreens boots alliance inc', 'walmart inc'
]

In [7]:
df['Companies'] = df['Organizations'].apply(find_matching_organizations)

In [5]:
expanded_rows = []

In [6]:
for index, row in df.iterrows():
    expanded_rows.extend(split_companies(row))

In [7]:
expanded_df = pd.DataFrame(expanded_rows)
expanded_df

,DATE,V2Tone,Organizations,Companies
0,20171126023000,"0.754716981132076,2.64150943396226,1.886792452...",other television;us national;waugh erma or tar...,target corporation
1,20171126071500,"1.28676470588235,2.11397058823529,0.8272058823...",burlington stores;morgan stanley;securities ex...,burlington stores inc
2,20171126011500,"1.875,2.1875,0.3125,2.5,22.5,0.3125,288",dollar tree inc;performance food group;us food...,dollar tree inc
3,20171126120000,"3.322528363047,3.72771474878444,0.405186385737...",walgreens boots alliance inc walgreens boots a...,walgreens boots alliance inc
4,20171126043000,"-0.132275132275132,0.529100529100529,0.6613756...",cowen inc;morgan stanley;ross stores;jefferies...,ross stores inc
...,...,...,...,...
309554,20230602204500,"0.260078023407022,2.08062418725618,1.820546163...",walmart;walmart inc,walmart inc
309555,20231212151500,"1.40056022408964,3.36134453781513,1.9607843137...",walmart;walmart inc,walmart inc
309556,20231212163000,"3.17460317460317,4.76190476190476,1.5873015873...",walmart;walmart inc,walmart inc
309557,20230601013000,"0,3.27868852459016,3.27868852459016,6.55737704...",walmart;walmart inc,walmart inc
309558,20230601171500,"-1.96078431372549,4.57516339869281,6.535947712...",walmart;walmart inc,walmart inc

In [12]:
df.head(12)

,DATE,V2Tone,Organizations,Companies
0,20171126023000,"0.754716981132076,2.64150943396226,1.886792452...",other television;us national;waugh erma or tar...,target corporation
1,20171126071500,"1.28676470588235,2.11397058823529,0.8272058823...",burlington stores;morgan stanley;securities ex...,burlington stores inc
2,20171126011500,"1.875,2.1875,0.3125,2.5,22.5,0.3125,288",dollar tree inc;performance food group;us food...,dollar tree inc
3,20171126120000,"3.322528363047,3.72771474878444,0.405186385737...",walgreens boots alliance inc walgreens boots a...,walgreens boots alliance inc
4,20171126043000,"-0.132275132275132,0.529100529100529,0.6613756...",cowen inc;morgan stanley;ross stores;jefferies...,ross stores inc
5,20171126133000,"-1.55993431855501,2.38095238095238,3.940886699...",valero energy corporation;financial services g...,dollar tree inc
6,20171126004500,"-0.268817204301075,0.268817204301075,0.5376344...",ross stores;jefferies group;ross stores inc;na...,ross stores inc
7,20171126110000,"0.390117035110533,1.04031209362809,0.650195058...",morgan stanley;research on;goldman sachs;balya...,autozone inc
8,20171126054500,"-3.83795309168443,1.27931769722815,5.117270788...",target corporation;corporation school;committe...,target corporation
9,20171126120000,"1.02354145342886,1.5353121801433,0.51177072671...",alkeon capital management;family dollar;dollar...,dollar tree inc
10,20171126051500,"2.0221787345075,3.65296803652968,1.63078930202...",target corporation;sun sat ten sun sun office;...,target corporation
11,20171126224500,"-0.114155251141552,1.02739726027397,1.14155251...",travelers company inc;scripts holding co;amazo...,"amazon com inc, dollar tree inc, walgreens boo..."

In [9]:
expanded_df['Companies']=expanded_df['Companies'].apply(check_multiple_companies)
multiple_companies_df = expanded_df[expanded_df['Companies']]
multiple_companies_df

,DATE,V2Tone,Organizations,Companies
11,20171126224500,"-0.114155251141552,1.02739726027397,1.14155251...",travelers company inc;scripts holding co;amazo...,True
41,20171126221500,"0,1.08267716535433,1.08267716535433,2.16535433...",travelers company inc;scripts holding co;amazo...,True
82,20191019053000,"-1.8140589569161,2.72108843537415,4.5351473922...",glaxosmithkline;drug administration;rite aid c...,True
87,20171126151500,"-2.05908683974933,2.77529095792301,4.834377797...",financial services group;twitter;amazon com in...,True
90,20191019033000,"-1.53846153846154,2.46153846153846,4,6.4615384...",perrigo co;european union;reddy laboratories l...,True
...,...,...,...,...
297361,20240228180000,"1.17773019271949,1.2847965738758,0.10706638115...",albertsons companies profile;blackrock inc;uni...,True
297362,20240228180000,"1.15789473684211,1.47368421052632,0.3157894736...",quarter for albertsons companies;norges bank;t...,True
297363,20240228180000,"1.15789473684211,1.47368421052632,0.3157894736...",albertsons companies inc;vanguard group inc;al...,True
297368,20240228163000,"6.64893617021277,7.18085106382979,0.5319148936...",walmart inc;prnewswire united airlines holding...,True
297376,20240228171500,"0.324324324324324,1.08108108108108,0.756756756...",walt disney co;tesla inc;m co;alphabet inc;gro...,True

In [8]:
def check_multiple_companies(row):
    companies = row.split(',')
    return len(companies) > 1

In [13]:
df['Companies'] = df['Companies'].apply(check_multiple_companies)
multiple_companies_df = df[df['Companies']]
multiple_companies_df

,DATE,V2Tone,Organizations,Companies
11,20171126224500,"-0.114155251141552,1.02739726027397,1.14155251...",travelers company inc;scripts holding co;amazo...,True
41,20171126221500,"0,1.08267716535433,1.08267716535433,2.16535433...",travelers company inc;scripts holding co;amazo...,True
82,20191019053000,"-1.8140589569161,2.72108843537415,4.5351473922...",glaxosmithkline;drug administration;rite aid c...,True
87,20171126151500,"-2.05908683974933,2.77529095792301,4.834377797...",financial services group;twitter;amazon com in...,True
90,20191019033000,"-1.53846153846154,2.46153846153846,4,6.4615384...",perrigo co;european union;reddy laboratories l...,True
...,...,...,...,...
297361,20240228180000,"1.17773019271949,1.2847965738758,0.10706638115...",albertsons companies profile;blackrock inc;uni...,True
297362,20240228180000,"1.15789473684211,1.47368421052632,0.3157894736...",quarter for albertsons companies;norges bank;t...,True
297363,20240228180000,"1.15789473684211,1.47368421052632,0.3157894736...",albertsons companies inc;vanguard group inc;al...,True
297368,20240228163000,"6.64893617021277,7.18085106382979,0.5319148936...",walmart inc;prnewswire united airlines holding...,True
297376,20240228171500,"0.324324324324324,1.08108108108108,0.756756756...",walt disney co;tesla inc;m co;alphabet inc;gro...,True

In [22]:
subset_df = df.iloc[10:13]
subset_df.drop(columns=['V2Tone', 'Organizations'], inplace=True)
subset_df

C:\Users\Michael_Mi\AppData\Local\Temp\ipykernel_16324\589493824.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df.drop(columns=['V2Tone', 'Organizations'], inplace=True)

              DATE                                          Companies
10  20171126051500                                 target corporation
11  20171126224500  amazon com inc, dollar tree inc, walgreens boo...
12  20171126190000                             tractor supply company

In [23]:
def split_companies(row):
    companies = row['Companies'].split(';')
    new_rows = []
    for company in companies:
        new_row = row.copy()
        new_row['Companies'] = company
        new_rows.append(new_row)
    return new_rows

In [24]:
expanded_rows = []
for index, row in subset_df.iterrows():
    expanded_rows.extend(split_companies(row))

In [25]:
expanded_df = pd.DataFrame(expanded_rows)
expanded_df

              DATE                                          Companies
10  20171126051500                                 target corporation
11  20171126224500  amazon com inc, dollar tree inc, walgreens boo...
12  20171126190000                             tractor supply company

In [26]:
df_expanded = subset_df.assign(Companies=subset_df['Companies'].str.split(', ')).explode('Companies').reset_index(drop=True)
df_expanded

             DATE                     Companies
0  20171126051500            target corporation
1  20171126224500                amazon com inc
2  20171126224500               dollar tree inc
3  20171126224500  walgreens boots alliance inc
4  20171126190000        tractor supply company

In [27]:
df = pd.read_csv('test.csv')
df

,DATE,V2Tone,Organizations,Companies
0,20171126023000,"0.754716981132076,2.64150943396226,1.886792452...",other television;us national;waugh erma or tar...,target corporation
1,20171126071500,"1.28676470588235,2.11397058823529,0.8272058823...",burlington stores;morgan stanley;securities ex...,burlington stores inc
2,20171126011500,"1.875,2.1875,0.3125,2.5,22.5,0.3125,288",dollar tree inc;performance food group;us food...,dollar tree inc
3,20171126120000,"3.322528363047,3.72771474878444,0.405186385737...",walgreens boots alliance inc walgreens boots a...,walgreens boots alliance inc
4,20171126043000,"-0.132275132275132,0.529100529100529,0.6613756...",cowen inc;morgan stanley;ross stores;jefferies...,ross stores inc
...,...,...,...,...
309554,20230602204500,"0.260078023407022,2.08062418725618,1.820546163...",walmart;walmart inc,walmart inc
309555,20231212151500,"1.40056022408964,3.36134453781513,1.9607843137...",walmart;walmart inc,walmart inc
309556,20231212163000,"3.17460317460317,4.76190476190476,1.5873015873...",walmart;walmart inc,walmart inc
309557,20230601013000,"0,3.27868852459016,3.27868852459016,6.55737704...",walmart;walmart inc,walmart inc
309558,20230601171500,"-1.96078431372549,4.57516339869281,6.535947712...",walmart;walmart inc,walmart inc

In [28]:
df_fin = df.assign(Companies=df['Companies'].str.split(', ')).explode('Companies').reset_index(drop=True)
df_fin

,DATE,V2Tone,Organizations,Companies
0,20171126023000,"0.754716981132076,2.64150943396226,1.886792452...",other television;us national;waugh erma or tar...,target corporation
1,20171126071500,"1.28676470588235,2.11397058823529,0.8272058823...",burlington stores;morgan stanley;securities ex...,burlington stores inc
2,20171126011500,"1.875,2.1875,0.3125,2.5,22.5,0.3125,288",dollar tree inc;performance food group;us food...,dollar tree inc
3,20171126120000,"3.322528363047,3.72771474878444,0.405186385737...",walgreens boots alliance inc walgreens boots a...,walgreens boots alliance inc
4,20171126043000,"-0.132275132275132,0.529100529100529,0.6613756...",cowen inc;morgan stanley;ross stores;jefferies...,ross stores inc
...,...,...,...,...
328874,20230602204500,"0.260078023407022,2.08062418725618,1.820546163...",walmart;walmart inc,walmart inc
328875,20231212151500,"1.40056022408964,3.36134453781513,1.9607843137...",walmart;walmart inc,walmart inc
328876,20231212163000,"3.17460317460317,4.76190476190476,1.5873015873...",walmart;walmart inc,walmart inc
328877,20230601013000,"0,3.27868852459016,3.27868852459016,6.55737704...",walmart;walmart inc,walmart inc
328878,20230601171500,"-1.96078431372549,4.57516339869281,6.535947712...",walmart;walmart inc,walmart inc

In [29]:
df_fin[['Tone1', 'Tone2', 'Tone3', 'Tone4', 'Tone5', 'Tone6', 'Tone7']] = df_fin['V2Tone'].str.split(',', expand=True)
df_fin['DATE'] = pd.to_datetime(df_fin['DATE'], format='%Y%m%d%H%M%S')
df_fin['Quarter'] = df_fin['DATE'].dt.to_period('Q')
df_fin[['Tone1', 'Tone2', 'Tone3', 'Tone4', 'Tone5', 'Tone6', 'Tone7']] = df_fin[['Tone1', 'Tone2', 'Tone3', 'Tone4', 'Tone5', 'Tone6', 'Tone7']].apply(pd.to_numeric)
df_fin

,DATE,V2Tone,Organizations,Companies,Tone1,Tone2,Tone3,Tone4,Tone5,Tone6,Tone7,Quarter
0,2017-11-26 02:30:00,"0.754716981132076,2.64150943396226,1.886792452...",other television;us national;waugh erma or tar...,target corporation,0.754717,2.641509,1.886792,4.528302,23.396226,0.754717,533,2017Q4
1,2017-11-26 07:15:00,"1.28676470588235,2.11397058823529,0.8272058823...",burlington stores;morgan stanley;securities ex...,burlington stores inc,1.286765,2.113971,0.827206,2.941176,20.955882,0.091912,980,2017Q4
2,2017-11-26 01:15:00,"1.875,2.1875,0.3125,2.5,22.5,0.3125,288",dollar tree inc;performance food group;us food...,dollar tree inc,1.875000,2.187500,0.312500,2.500000,22.500000,0.312500,288,2017Q4
3,2017-11-26 12:00:00,"3.322528363047,3.72771474878444,0.405186385737...",walgreens boots alliance inc walgreens boots a...,walgreens boots alliance inc,3.322528,3.727715,0.405186,4.132901,19.043760,0.081037,1126,2017Q4
4,2017-11-26 04:30:00,"-0.132275132275132,0.529100529100529,0.6613756...",cowen inc;morgan stanley;ross stores;jefferies...,ross stores inc,-0.132275,0.529101,0.661376,1.190476,24.338624,0.132275,660,2017Q4
...,...,...,...,...,...,...,...,...,...,...,...,...
328874,2023-06-02 20:45:00,"0.260078023407022,2.08062418725618,1.820546163...",walmart;walmart inc,walmart inc,0.260078,2.080624,1.820546,3.901170,22.106632,5.071521,677,2023Q2
328875,2023-12-12 15:15:00,"1.40056022408964,3.36134453781513,1.9607843137...",walmart;walmart inc,walmart inc,1.400560,3.361345,1.960784,5.322129,22.128852,1.120448,322,2023Q4
328876,2023-12-12 16:30:00,"3.17460317460317,4.76190476190476,1.5873015873...",walmart;walmart inc,walmart inc,3.174603,4.761905,1.587302,6.349206,19.047619,0.000000,53,2023Q4
328877,2023-06-01 01:30:00,"0,3.27868852459016,3.27868852459016,6.55737704...",walmart;walmart inc,walmart inc,0.000000,3.278689,3.278689,6.557377,22.950820,6.557377,57,2023Q2
328878,2023-06-01 17:15:00,"-1.96078431372549,4.57516339869281,6.535947712...",walmart;walmart inc,walmart inc,-1.960784,4.575163,6.535948,11.111111,22.222222,2.614379,142,2023Q2

In [30]:
df_fin.drop(columns=['V2Tone', 'Organizations'], inplace=True)
df_fin

,DATE,Companies,Tone1,Tone2,Tone3,Tone4,Tone5,Tone6,Tone7,Quarter
0,2017-11-26 02:30:00,target corporation,0.754717,2.641509,1.886792,4.528302,23.396226,0.754717,533,2017Q4
1,2017-11-26 07:15:00,burlington stores inc,1.286765,2.113971,0.827206,2.941176,20.955882,0.091912,980,2017Q4
2,2017-11-26 01:15:00,dollar tree inc,1.875000,2.187500,0.312500,2.500000,22.500000,0.312500,288,2017Q4
3,2017-11-26 12:00:00,walgreens boots alliance inc,3.322528,3.727715,0.405186,4.132901,19.043760,0.081037,1126,2017Q4
4,2017-11-26 04:30:00,ross stores inc,-0.132275,0.529101,0.661376,1.190476,24.338624,0.132275,660,2017Q4
...,...,...,...,...,...,...,...,...,...,...
328874,2023-06-02 20:45:00,walmart inc,0.260078,2.080624,1.820546,3.901170,22.106632,5.071521,677,2023Q2
328875,2023-12-12 15:15:00,walmart inc,1.400560,3.361345,1.960784,5.322129,22.128852,1.120448,322,2023Q4
328876,2023-12-12 16:30:00,walmart inc,3.174603,4.761905,1.587302,6.349206,19.047619,0.000000,53,2023Q4
328877,2023-06-01 01:30:00,walmart inc,0.000000,3.278689,3.278689,6.557377,22.950820,6.557377,57,2023Q2
328878,2023-06-01 17:15:00,walmart inc,-1.960784,4.575163,6.535948,11.111111,22.222222,2.614379,142,2023Q2

In [39]:
quarterly_avg = df_fin.groupby(['Companies', 'Quarter'])[['Tone1', 'Tone2', 'Tone3', 'Tone4', 'Tone5', 'Tone6', 'Tone7']].mean().reset_index()
quarterly_avg

,Companies,Quarter,Tone1,Tone2,Tone3,Tone4,Tone5,Tone6,Tone7
0,abercrombie,2015Q1,-0.313265,2.392465,2.705729,5.098194,21.717792,0.415765,665.300000
1,abercrombie,2015Q2,-0.340250,2.711998,3.052249,5.764247,22.554035,0.505019,589.436782
2,abercrombie,2015Q3,-0.249868,2.393845,2.643713,5.037559,22.576487,0.345621,590.568369
3,abercrombie,2015Q4,0.733886,2.702930,1.969044,4.671974,21.924929,0.609473,645.191330
4,abercrombie,2016Q1,-0.026776,2.642590,2.669367,5.311957,23.964140,1.256122,764.887189
...,...,...,...,...,...,...,...,...,...
1571,walmart inc,2023Q2,0.845258,2.442275,1.597017,4.039292,20.785152,0.502491,863.530291
1572,walmart inc,2023Q3,0.989775,2.398405,1.408631,3.807036,20.728058,0.514108,861.307035
1573,walmart inc,2023Q4,0.924427,2.582553,1.658125,4.240678,20.413660,0.488321,892.345464
1574,walmart inc,2024Q1,0.731119,2.566264,1.835145,4.401410,21.031243,0.524918,900.354423
1575,walmart inc,2024Q2,0.259061,2.961718,2.702656,5.664374,22.280286,0.453813,805.181818

In [74]:
specific_company = "abercrombie"
a = quarterly_avg[quarterly_avg['Companies'] == specific_company]
a

,Companies,Quarter,Tone1,Tone2,Tone3,Tone4,Tone5,Tone6,Tone7
0,abercrombie,2015Q1,-0.313265,2.392465,2.705729,5.098194,21.717792,0.415765,665.300000
1,abercrombie,2015Q2,-0.340250,2.711998,3.052249,5.764247,22.554035,0.505019,589.436782
2,abercrombie,2015Q3,-0.249868,2.393845,2.643713,5.037559,22.576487,0.345621,590.568369
3,abercrombie,2015Q4,0.733886,2.702930,1.969044,4.671974,21.924929,0.609473,645.191330
4,abercrombie,2016Q1,-0.026776,2.642590,2.669367,5.311957,23.964140,1.256122,764.887189
5,abercrombie,2016Q2,-0.136987,2.387439,2.524425,4.911864,21.474983,0.465126,672.745938
6,abercrombie,2016Q3,-1.656248,1.990918,3.647165,5.638083,20.605740,0.429816,6497.865569
7,abercrombie,2016Q4,0.052059,2.459190,2.407131,4.866321,21.104969,0.463562,707.198767
8,abercrombie,2017Q1,-0.272945,2.065411,2.338355,4.403766,20.999036,0.532782,716.240650
9,abercrombie,2017Q2,0.040498,2.408480,2.367982,4.776462,21.621062,0.535247,673.070213
10,abercrombie,2017Q3,-0.202231,2.400236,2.602467,5.002702,22.534369,0.531679,637.376098
11,abercrombie,2017Q4,0.768293,2.640654,1.872361,4.513014,21.631180,0.544318,857.993521
12,abercrombie,2018Q1,0.422544,2.385843,1.963299,4.349142,21.599835,0.500238,747.722917
13,abercrombie,2018Q2,0.349035,2.283773,1.934738,4.218511,20.959841,0.633839,803.373585
14,abercrombie,2018Q3,0.659863,2.546472,1.886609,4.433081,21.131981,0.533727,724.681564
15,abercrombie,2018Q4,0.959397,2.640323,1.680926,4.321249,21.673134,0.514454,658.749035
16,abercrombie,2019Q1,1.334727,2.824139,1.489412,4.313550,21.812416,0.613198,747.695804
17,abercrombie,2019Q2,1.073956,3.001924,1.927968,4.929893,22.328177,0.673100,752.550000
18,abercrombie,2019Q3,0.388770,2.564925,2.176155,4.741080,21.305213,0.649420,761.028169
19,abercrombie,2019Q4,-0.212805,2.545323,2.758127,5.303450,23.795418,1.102614,827.380000
20,abercrombie,2020Q1,0.344543,2.675724,2.331181,5.006905,21.436142,0.933038,723.864979
21,abercrombie,2020Q2,-0.224080,2.452370,2.676450,5.128821,21.794087,0.709885,601.420635
22,abercrombie,2020Q3,-0.003515,2.323976,2.327491,4.651467,22.581148,0.606292,594.233577
23,abercrombie,2020Q4,1.138626,3.007888,1.869262,4.877151,22.790314,0.781221,761.719101
24,abercrombie,2021Q1,1.878194,3.562131,1.683937,5.246068,22.337583,1.029069,975.753247
25,abercrombie,2021Q2,1.223774,3.162029,1.938255,5.100283,21.305421,0.821522,927.796117
26,abercrombie,2021Q3,1.657822,3.571967,1.914145,5.486113,22.992193,0.755854,680.778571
27,abercrombie,2021Q4,0.815719,2.968305,2.152585,5.120890,22.193786,0.638908,979.000000
28,abercrombie,2022Q1,1.040879,2.981981,1.941102,4.923083,22.604032,0.605775,666.797872
29,abercrombie,2022Q2,0.041999,2.502165,2.460166,4.962332,22.470589,0.854421,777.320611
30,abercrombie,2022Q3,1.280129,3.448043,2.167914,5.615957,22.743309,0.828901,898.742268
31,abercrombie,2022Q4,1.300888,3.150321,1.849432,4.999753,22.116260,0.816196,993.280000
32,abercrombie,2023Q1,1.844490,3.702017,1.857527,5.559544,22.944617,0.781863,923.987342
33,abercrombie,2023Q2,1.035882,2.705572,1.669690,4.375262,21.710137,0.436773,780.150602
34,abercrombie,2023Q3,1.634606,3.063225,1.428619,4.491844,21.853042,0.611462,748.292398
35,abercrombie,2023Q4,0.215754,2.998904,2.783151,5.782055,21.419172,0.862279,1005.037356
36,abercrombie,2024Q1,1.024228,2.748220,1.723992,4.472212,20.945855,0.440911,705.676113
37,abercrombie,2024Q2,5.369714,5.415744,0.046030,5.461774,15.295393,0.178400,396.800000

In [67]:
all_quarters = pd.date_range(start='2009Q4', end='2024Q2', freq='Q')
all_quarters = all_quarters.to_period('Q').astype(str)
all_quarters_df = pd.DataFrame(all_quarters, columns=['Quarter'])

In [ ]:
companies = quarterly_avg['Companies'].unique()
companies

In [69]:
df_full_list = []
for company in companies:
    df_full = all_quarters_df.copy()
    df_full['Companies'] = company
    df_full_list.append(df_full)

In [70]:
df_full = pd.concat(df_full_list, ignore_index=True)
df_full

     Quarter    Companies
0     2009Q4  abercrombie
1     2010Q1  abercrombie
2     2010Q2  abercrombie
3     2010Q3  abercrombie
4     2010Q4  abercrombie
...      ...          ...
3185  2023Q1  walmart inc
3186  2023Q2  walmart inc
3187  2023Q3  walmart inc
3188  2023Q4  walmart inc
3189  2024Q1  walmart inc

[3190 rows x 2 columns]

In [71]:
quarterly_avg['Quarter'] = quarterly_avg['Quarter'].astype(str)
df_full['Quarter'] = df_full['Quarter'].astype(str)

In [72]:
df_full = pd.merge(df_full, quarterly_avg, on=['Companies', 'Quarter'], how='left')

In [73]:
df_full

,Quarter,Companies,Tone1,Tone2,Tone3,Tone4,Tone5,Tone6,Tone7
0,2009Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010Q1,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010Q2,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010Q3,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3185,2023Q1,walmart inc,-0.186397,2.217378,2.403776,4.621154,21.431049,0.642460,1017.309936
3186,2023Q2,walmart inc,0.845258,2.442275,1.597017,4.039292,20.785152,0.502491,863.530291
3187,2023Q3,walmart inc,0.989775,2.398405,1.408631,3.807036,20.728058,0.514108,861.307035
3188,2023Q4,walmart inc,0.924427,2.582553,1.658125,4.240678,20.413660,0.488321,892.345464
3189,2024Q1,walmart inc,0.731119,2.566264,1.835145,4.401410,21.031243,0.524918,900.354423

In [76]:
df_full.to_csv('final.csv', index=False)

In [75]:
specific_company = "abercrombie"
a = df_full[df_full['Companies'] == specific_company]
a

,Quarter,Companies,Tone1,Tone2,Tone3,Tone4,Tone5,Tone6,Tone7
0,2009Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010Q1,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010Q2,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010Q3,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011Q1,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2011Q2,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2011Q3,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2011Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2012Q1,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2012Q2,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2012Q3,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2012Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2013Q1,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2013Q2,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2013Q3,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2013Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2014Q1,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2014Q2,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2014Q3,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2014Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2015Q1,abercrombie,-0.313265,2.392465,2.705729,5.098194,21.717792,0.415765,665.300000
22,2015Q2,abercrombie,-0.340250,2.711998,3.052249,5.764247,22.554035,0.505019,589.436782
23,2015Q3,abercrombie,-0.249868,2.393845,2.643713,5.037559,22.576487,0.345621,590.568369
24,2015Q4,abercrombie,0.733886,2.702930,1.969044,4.671974,21.924929,0.609473,645.191330
25,2016Q1,abercrombie,-0.026776,2.642590,2.669367,5.311957,23.964140,1.256122,764.887189
26,2016Q2,abercrombie,-0.136987,2.387439,2.524425,4.911864,21.474983,0.465126,672.745938
27,2016Q3,abercrombie,-1.656248,1.990918,3.647165,5.638083,20.605740,0.429816,6497.865569
28,2016Q4,abercrombie,0.052059,2.459190,2.407131,4.866321,21.104969,0.463562,707.198767
29,2017Q1,abercrombie,-0.272945,2.065411,2.338355,4.403766,20.999036,0.532782,716.240650
30,2017Q2,abercrombie,0.040498,2.408480,2.367982,4.776462,21.621062,0.535247,673.070213
31,2017Q3,abercrombie,-0.202231,2.400236,2.602467,5.002702,22.534369,0.531679,637.376098
32,2017Q4,abercrombie,0.768293,2.640654,1.872361,4.513014,21.631180,0.544318,857.993521
33,2018Q1,abercrombie,0.422544,2.385843,1.963299,4.349142,21.599835,0.500238,747.722917
34,2018Q2,abercrombie,0.349035,2.283773,1.934738,4.218511,20.959841,0.633839,803.373585
35,2018Q3,abercrombie,0.659863,2.546472,1.886609,4.433081,21.131981,0.533727,724.681564
36,2018Q4,abercrombie,0.959397,2.640323,1.680926,4.321249,21.673134,0.514454,658.749035
37,2019Q1,abercrombie,1.334727,2.824139,1.489412,4.313550,21.812416,0.613198,747.695804
38,2019Q2,abercrombie,1.073956,3.001924,1.927968,4.929893,22.328177,0.673100,752.550000
39,2019Q3,abercrombie,0.388770,2.564925,2.176155,4.741080,21.305213,0.649420,761.028169
40,2019Q4,abercrombie,-0.212805,2.545323,2.758127,5.303450,23.795418,1.102614,827.380000
41,2020Q1,abercrombie,0.344543,2.675724,2.331181,5.006905,21.436142,0.933038,723.864979
42,2020Q2,abercrombie,-0.224080,2.452370,2.676450,5.128821,21.794087,0.709885,601.420635
43,2020Q3,abercrombie,-0.003515,2.323976,2.327491,4.651467,22.581148,0.606292,594.233577
44,2020Q4,abercrombie,1.138626,3.007888,1.869262,4.877151,22.790314,0.781221,761.719101
45,2021Q1,abercrombie,1.878194,3.562131,1.683937,5.246068,22.337583,1.029069,975.753247
46,2021Q2,abercrombie,1.223774,3.162029,1.938255,5.100283,21.305421,0.821522,927.796117
47,2021Q3,abercrombie,1.657822,3.571967,1.914145,5.486113,22.992193,0.755854,680.778571
48,2021Q4,abercrombie,0.815719,2.968305,2.152585,5.120890,22.193786,0.638908,979.000000
49,2022Q1,abercrombie,1.040879,2.981981,1.941102,4.923083,22.604032,0.605775,666.797872
50,2022Q2,abercrombie,0.041999,2.502165,2.460166,4.962332,22.470589,0.854421,777.320611
51,2022Q3,abercrombie,1.280129,3.448043,2.167914,5.615957,22.743309,0.828901,898.742268
52,2022Q4,abercrombie,1.300888,3.150321,1.849432,4.999753,22.116260,0.816196,993.280000
53,2023Q1,abercrombie,1.844490,3.702017,1.857527,5.559544,22.944617,0.781863,923.987342
54,2023Q2,abercrombie,1.035882,2.705572,1.669690,4.375262,21.710137,0.436773,780.150602
55,2023Q3,abercrombie,1.634606,3.063225,1.428619,4.491844,21.853042,0.611462,748.292398
56,2023Q4,abercrombie,0.215754,2.998904,2.783151,5.782055,21.419172,0.862279,1005.037356
57,2024Q1,abercrombie,1.024228,2.748220,1.723992,4.472212,20.945855,0.440911,705.676113

In [77]:
df_full

,Quarter,Companies,Tone1,Tone2,Tone3,Tone4,Tone5,Tone6,Tone7
0,2009Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010Q1,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010Q2,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010Q3,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3185,2023Q1,walmart inc,-0.186397,2.217378,2.403776,4.621154,21.431049,0.642460,1017.309936
3186,2023Q2,walmart inc,0.845258,2.442275,1.597017,4.039292,20.785152,0.502491,863.530291
3187,2023Q3,walmart inc,0.989775,2.398405,1.408631,3.807036,20.728058,0.514108,861.307035
3188,2023Q4,walmart inc,0.924427,2.582553,1.658125,4.240678,20.413660,0.488321,892.345464
3189,2024Q1,walmart inc,0.731119,2.566264,1.835145,4.401410,21.031243,0.524918,900.354423

In [78]:
df_full.rename(columns={'Tone1': 'Tone', 'Tone2': 'Positive Score', 'Tone3': 'Negative Score', 'Tone4': 'Polarity Score', 'Tone5': 'Activity Reference Density', 'Tone6': 'Self/Group Reference Density', 'Tone7': 'Word Count '}, inplace=True)
df_full

,Quarter,Companies,Tone,Positive Score,Negative Score,Polarity Score,Activity Reference Density,Self/Group Reference Density,Word Count
0,2009Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010Q1,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010Q2,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010Q3,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010Q4,abercrombie,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3185,2023Q1,walmart inc,-0.186397,2.217378,2.403776,4.621154,21.431049,0.642460,1017.309936
3186,2023Q2,walmart inc,0.845258,2.442275,1.597017,4.039292,20.785152,0.502491,863.530291
3187,2023Q3,walmart inc,0.989775,2.398405,1.408631,3.807036,20.728058,0.514108,861.307035
3188,2023Q4,walmart inc,0.924427,2.582553,1.658125,4.240678,20.413660,0.488321,892.345464
3189,2024Q1,walmart inc,0.731119,2.566264,1.835145,4.401410,21.031243,0.524918,900.354423

In [83]:
company_to_ticker = {
    'abercrombie': 'ANF',
    'academy sports and outdoors inc': 'ASO',
    'advance auto parts inc': 'AAP',
    'albertsons companies inc': 'ACI',
    'alimentation couche tard inc': 'ATD',
    'amazon com inc': 'AMZN',
    'arko corp': 'ARKO',
    'asbury automotive group inc': 'ABG',
    'autonation inc': 'AN',
    'autozone inc': 'AZO',
    'bath body works inc': 'BBWI',
    'best buy co inc': 'BBY',
    'bjs wholesale club holdings inc': 'BJ',
    'burlington stores inc': 'BURL',
    'camping world holdings inc': 'CWH',
    'canada goose holdings inc': 'GOOS',
    'capri holdings limited': 'CPRI',
    'carvana co': 'CVNA',
    'costco wholesale corporation': 'COST',
    'dicks sporting goods inc': 'DKS',
    'dollar tree inc': 'DLTR',
    'floor decor holdings inc': 'FND',
    'foot locker inc': 'FL',
    'franchise group inc': 'FRG',
    'genuine parts company': 'GPC',
    'ingles markets incorporated': 'IMKTA',
    'j jill inc': 'JILL',
    'kohls corporation': 'KSS',
    'koninklijke ahold delhaize': 'AD',
    'leslies inc': 'LESL',
    'lithia motors inc': 'LAD',
    'lowes companies inc': 'LOW',
    'macys inc': 'M',
    'mister car wash inc': 'MCW',
    'murphy usa inc': 'MUSA',
    'national vision holdings inc': 'EYE',
    'nordstrom inc': 'JWN',
    'oreilly automotive inc': 'ORLY',
    'penske automotive group inc': 'PAG',
    'petco health and wellness company inc': 'WOOF',
    'qurate retail inc': 'QRTEA',
    'ralph lauren corporation': 'RL',
    'rh': 'RH',
    'ross stores inc': 'ROST',
    'sonic automotive inc': 'SAH',
    'tapestry inc': 'TPR',
    'target corporation': 'TGT',
    'the gap inc': 'GPS',
    'the kroger co': 'KR',
    'torrid holdings inc': 'CURV',
    'tractor supply company': 'TSCO',
    'valvoline inc': 'VVV',
    'victorias secret co': 'VSCO',
    'walgreens boots alliance inc': 'WBA',
    'walmart inc': 'WMT'
}

In [84]:
df_full['Companies'] = df_full['Companies'].replace(company_to_ticker)
df_full

,Quarter,Companies,Tone,Positive Score,Negative Score,Polarity Score,Activity Reference Density,Self/Group Reference Density,Word Count
0,2009Q4,ANF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010Q1,ANF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010Q2,ANF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010Q3,ANF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010Q4,ANF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3185,2023Q1,WMT,-0.186397,2.217378,2.403776,4.621154,21.431049,0.642460,1017.309936
3186,2023Q2,WMT,0.845258,2.442275,1.597017,4.039292,20.785152,0.502491,863.530291
3187,2023Q3,WMT,0.989775,2.398405,1.408631,3.807036,20.728058,0.514108,861.307035
3188,2023Q4,WMT,0.924427,2.582553,1.658125,4.240678,20.413660,0.488321,892.345464
3189,2024Q1,WMT,0.731119,2.566264,1.835145,4.401410,21.031243,0.524918,900.354423

In [85]:
df_full.to_csv('final.csv', index=False)